@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
    --calculator-color: rgb(220, 243, 252);
    --button-color: skyblue;
    --button-border: rgb(194, 194, 194);
    --button-hover: rgb(166, 230, 255);
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(53, 52, 52);
    color: black;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 25rem;
    border: 2px solid rgba(255, 255, 255, 0.931);
    border-radius: 13px;
    background-color: var(--calculator-color);
}

.calculator-contents {
    display: grid;
    margin: 1rem;
    height: 90%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.inputs,
.clear-button,
.function-buttons {
    background-color: rgb(154, 152, 152);
    font-weight: bold;
}

.screen {
    grid-column: 1 / 5;
    justify-self: center;
    font-size: 30px;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 5px;
    width: 100%;
    height: 70%;
    text-align: right;
    background-color: rgb(212, 212, 212);
    font-family: 'Secular One', sans-serif;
    line-height: 140%;
}

.clear-button {
    grid-column: 1 / 4;
    grid-row: 2;
    height: 100%;
    max-width: 100%;
}

.equal {
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.input-buttons {
    background-color: var(--calculator-color);
    height: 100%;
    grid-column: 1 / 4;
    grid-row: 3 / 7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.function-buttons {
    background-color: var(--calculator-color);
    grid-column: 4;
    grid-row: 2 / 7;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}


#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#zero,
#decimal,
.clear-button,
#divide,
#multiply,
#add,
#subtract,
.equal {
    background-color: var(--button-color);
    color: black;
    border: 1px solid rgb(135, 207, 235);
    border-radius: 6px;
    cursor: pointer;
}

#divide,
#multiply,
#add,
#subtract,
#decimal {
    font-size: 20px;
}

#one:hover,
#two:hover,
#three:hover,
#four:hover,
#five:hover,
#six:hover,
#seven:hover,
#eight:hover,
#nine:hover,
#zero:hover,
#decimal:hover,
.clear-button:hover,
#divide:hover,
#multiply:hover,
#add:hover,
#subtract:hover,
.equal:hover {
    background-color: var(--button-hover);
    transition: all .2s ease;
}

button:active {
    background-color: var(--button-hover);
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}